@import '../../styles/colors';

$module: 'BookingInfo';

.#{$module} { 
   display: flex;
   flex-direction: column;
   padding: 2rem 1rem 1rem 1rem;

   .bold {
       font-weight: 500;
       color: $absoluteBlack;
   }

   &-name {
       color: $navy;
       font-weight: 600;
       margin-bottom: 0.5rem;
   }

   &-location {
        color: $grey;
        margin-bottom: 0.9rem;
    }

    &-group,
    &-length,
    &-departing {
        margin-bottom: 0.9rem; 
    }

    &-bookTitle {
        font-size: 0.7rem;
    }

    &-bookPrice {
        font-size: 1rem;
    }
}
