@import '../../styles/colors';

$module: 'Select';

.#{$module} { 
    background: $white;
    margin-bottom: 2rem;
    width: 170px;
    cursor: pointer;
    height: 40px;
    display: block;
    font-size: 1rem;
    color: $black;
    border: 1px solid $lightGrey;

    label {
        display: block;
        margin-bottom: 0.5rem;
    }

    &-airport,
    &-date {
        margin-bottom: 1rem;
    }
}
