@import '../../styles/colors';

$module: 'Overview';

.#{$module} { 
    padding: 1rem;
    box-sizing: border-box;

    h5 {
        color: $navy;    
        margin-bottom: 0.5rem;
    }

    p {
        line-height: 1.5rem;
    }
}
